<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Type</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-100 text-white font-outfit flex flex-col justify-center items-center">

    <div class="w-full max-w-7xl bg-black flex flex-col">

    <!-- Text in a Row -->
    <div class="flex flex-row justify-center min-h-screen items-center">

        <!-- Middle: Text -->
         <div class="flex flex-col justify-center ">
            <img src="/core/images/logo don machos.png" class="w-[400px]" >
            <p class="text-xl uppercase tracking-widest mb-2">WELCOME TO DON MACHOS</p>
            <h1 class="text-7xl font-bold leading-tight mb-6">Your Cup of<br>Happiness</h1>
            <p class="text-2xl uppercase tracking-wide mb-8">THE PERFECT CUP. THE PERFECT VIBE.<br>COME EXPERIENCE THE DON MACHOS COMMUNITY.</p>
        </div>
        <!-- Right: Cup Image -->
         <div class="flex flex-row place-items-end -translate-y-28">
            <img src="/core/images/Cup with hand.png" class="w-[500px] h-fit" >
        </div>
    </div>

    <!-- Buttons Section -->
    <div class="flex flex-col justify-center items-center w-full bg-white text-black py-20">
        <p class="text-5xl font-bold uppercase mb-8 pb-12 tracking-normal">SELECT TO START YOUR ORDER</p>
        <div class="flex flex-row gap-[100px]">
            <button class="bg-black text-white px-28 py-20 rounded-2xl font-bold text-6xl hover:bg-gray-800 transition">
                DINE IN
            </button>
            <button class="bg-black text-white px-16 md:px-28 py-12 md:py-20 rounded-2xl font-bold text-4xl md:text-5xl lg:text-6xl hover:bg-gray-800 transition">                TAKE OUT
            </button>
        </div>
</body>
</html>